:root {
  --background-color: #fff
  --text-color: #444

  --dur: 0.2s;
}

.darkmode:root {
  --background-color: #444
  --text-color: #fff
}

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
